{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}

<form action="" method="post" enctype="multipart/form-data">
	<h1>Connexion</h1>	
	{% csrf_token %}
	{% bootstrap_form form %}
	<input type="hidden" name="next" value="{{ next }}" />
	<hr>
	{% buttons %}
		<button type="submit" class="btn btn-primary btn-block">
			Se connecter
		</button>
	{% endbuttons %}
</form>

<p style="text-align: center; font-size: .8em;"><a href="{% url 'password_reset' %}">Mot de passe oublié ?</a></p>
<p style="text-align: center; font-size: .8em;"><a href="{% url 'registration_register' %}">Créer un compte</a></p>

{% endblock %}
