{% extends "meta.html" %}
{% load static %}



{% if page_title %}{% block title %}{{ page_title }} - {% endblock title %}{% endif %}



{% block head %}{{ block.super }}

{% endblock head %}



{% block header %}

<div class="centrifuge-brand col-xs-12"><i class="fa fa-retweet fa-lg"></i> centrifuge</div>

<style>
	.centrifuge-brand {
		text-align: center; font-variant: small-caps; font-size: 3em;
		color: #ff6000; background-color:  #333;
		margin-bottom: .5em; padding: .5em 0; padding-right: .5em; }
</style>

{% endblock header %}



{% block content %}

	<!-- Main content displayed here -->

{% endblock content %}



{% block footer %}

{% endblock footer %}



{% block scripts %} {{ block.super }}

{% comment %} <script src="{% get_static_prefix %}js/notifications.js"></script> {% endcomment %} 

{% endblock scripts %}