{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}

	{% block before_the_form %}{% endblock %}
	
	<form action="" method="post" enctype="multipart/form-data">
		<h1>{{ page_title }}</h1>	
		{% csrf_token %}
		{% bootstrap_form form %}
		<hr>
		{% buttons %}
			<button type="submit" class="btn btn-primary btn-block">
				{{ submit_button_text }}
			</button>
		{% endbuttons %}
	</form>
	
	{% block after_the_form %}{% endblock %}

{% endblock %}

{% block scripts %}{{ block.super }}
	<script>
		$('.has-error').removeClass('has-error').addClass('has-danger')
		$('.has-success').removeClass('has-success')
		$('.control-label').removeClass('control-label').addClass('form-control-label')
		$('.help-block').removeClass('help-block').addClass('form-control-feedback text-muted small')
	</script>
{% endblock %}