{% load staticfiles %}

<nav id="main-nav" role="navigation">

	<a class="nav-item" href='/'>
		<span class="centrifuge-brand">centrifuge</span>
	</a>

	<span id="menu-drawer">
		<a id="menu-open" href="#menu-drawer"></a>
		<a id="menu-close" href="#"></a>
	</span>

	<span id="menu-wrapper">

	{% if user.is_authenticated %}
		<a class="nav-item" href="{% url 'auth_network_user_info' %}">{{ user.username }}</a>
		{% if user.is_staff %}
			<a class="nav-item" href="{% url 'admin:index' %}">Administration</a>
		{% endif %}
		<a class="nav-item" href="{% url 'logout' %}">Déconnexion</a>
	{% else %}
		<a class="nav-item" href="{% url 'auth_network_login' %}">Connexion</a>
	{% endif %}

	</span>

</nav>

<style>

/* Style the currently active link */
{% if active_tab %}
header:not(:hover) .nav-item[href^="{{ active_tab }}"]::after {
	transform: scaleY(.75);
	opacity: 1;
}
@media ( max-width: 717px ) {
	header:not(:hover) .nav-item[href^="{{ active_tab }}"]::after {
		transform: translateX(-.2rem);
	}
}

{% endif %}

</style>