{% extends "form.html" %}
{% load bootstrap3 %}

{% block before_the_form %}

	{% if app %}
		{% include 'auth_network_provider/app.html' %}
		<p>Pour vous connecter à cette application, vous devez d'abord vous authentifier :</p>
		<hr/>
	{% endif %}

{% endblock %}

{% block after_the_form %}

	<p style="text-align: center; margin-top: 2rem;">
		{% if app %}
			<a class="secondary-link" href="{% url 'auth_network_register' app.key %}">Pas encore de compte ?</a><br/>
		{% else %}
			<a class="secondary-link" href="{% url 'auth_network_register' %}">Pas encore de compte ?</a><br/>
		{% endif %}
		<a class="secondary-link" href="{% url 'password_reset' %}">Mot de passe oublié ?</a>
	</p>

{% endblock %}
