{% extends "form.html" %}
{% load bootstrap3 %}

{% block before_the_form %}

	<p>Cette application souhaite accéder à vos informations personnelles :</p>
	{% if app %}
		{% include 'auth_network_provider/app.html' %}
	{% endif %}
	<p>Informations demandées : <strong>Email</strong>, <strong>Prénom</strong> et <strong>Nom</strong>.</p>

{% endblock %}

{% block after_the_form %}

	<p style="text-align: center; margin-top: 2rem;">
		{% if app %}
			<a href="{% url 'auth_network_register' app.key %}">Pas encore de compte ?</a><br/>
		{% else %}
			<a href="{% url 'auth_network_register' %}">Pas encore de compte ?</a><br/>
		{% endif %}
		<a href="{% url 'password_reset' %}">Mot de passe oublié ?</a>
	</p>

{% endblock %}
