{% extends "base.html" %}

{% block content %}

<h1>Qu'est-ce que Centrifuge ?</h1>
<p>C'est la solution unique pour vous connecter aux sites et applications centristes !</p>
<hr/>
<h4>Comment utiliser Centrifuge ?</h4>
<p>En <a href="{% url 'registration_register' %}">créant un compte</a>, puis en l'utilisant pour vous connecter aux sites et aux applications partenaires.</p>
<hr/>
<h4>Où puis-je me connecter avec Centrifuge ?</h4>
<p>Pour l'instant, Centrifuge est en phase de test, et n'est utilisable que sur <a href="http://fichier.jdem.fr">Fiji</a>, l'application des responsables de fédérations des Jeunes Démocrates.</p>

{% endblock %}
